/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30 Apr, 2017, 5:45:37 PM
    Author     : aaushi
*/

.like_dislike {
  display: block;
}
.like_dislike .like,
.like_dislike .dislike {
  border: 1px solid #1d84c3;
  border-radius: 5px;
  float: left;
  margin: 2px 0;
  padding: 4px;
  width: 100px;
  background-color: #1d84c3;
  text-align: center;
}
.like_dislike .like a,
.like_dislike .dislike a {
  border: medium none;
  float: left;
  padding-left: 10px;
  color: white;
  font-weight: bold;
}
.like_dislike .report-abuse a {
  padding-left: 10px;
}
.like_dislike .like span,
.like_dislike .dislike span {
  float: right;
  padding-right: 10px;
  font-weight: bold;
}
.like_dislike .dislike {
  margin-left: 10px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  left: 25% !important;
  top: 2% !important;
  width: 50% !important;
}
.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: 'Arial';
  font-size: 13px;
}
.tick {
  stroke-dasharray: 1, 2;
}
.bar {
  fill: FireBrick;
}
.sv {
  display: inline;
}
.grid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: lightgrey;
  opacity: 0.7;
  stroke-width: 1px;
}
.segmentText {
  cursor: pointer;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 15px;
  padding: 5px;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
#graphResult > div {
  display: none;
}
#graphResult1 > div {
  display: none;
}

#report-abuse a {
  color: red;
  margin-left: 10px;
  font-weight: bold;
}
.coordinates {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  padding: 0.75em 0.75em 0.05em;
  font-size: 14px;
  box-shadow: 0px -1px 1px 2px #ddd, -1px 1px 1px 1px #ddd;
  text-align: left;
  width: 65%;
}
.a {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid #139ff7;
}
.b {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid orangered;
}
.label1 {
  color: black;
  font-weight: bold;
}
